<div id="carouselExampleControls" class="carousel slide mb-5" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e0cfbc0b-567b-4185-a23b-2111ad0f43f2/dapbq14-9fc371d7-88aa-4784-9416-e7c23c39be7a.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2UwY2ZiYzBiLTU2N2ItNDE4NS1hMjNiLTIxMTFhZDBmNDNmMlwvZGFwYnExNC05ZmMzNzFkNy04OGFhLTQ3ODQtOTQxNi1lN2MyM2MzOWJlN2EucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.3yn46vnYkZzJF6WwCDgWMtDIL4RWQakrnahc5ZmZmIo" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://wallpapercave.com/wp/wp10766812.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://imageservice.sky.com/contentid/iYEQZ362F6YaScPukRAuWm/LAND_16_9-SERIES?language=eng&territory=GB&proposition=NOWTV&version=fc16db34-324d-34a8-94c2-2d1007979ce8" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>