
  <div class="row">
    <div class="col-xxl-3 col-xl-4 col-md-6">
       
    </div>

    <div class="col-xxl-9 col-xl-8 col-md-6">
      <div *ngIf="loggeado; else elseBlock">
        <button type="button" class="btn btn-danger" (click)="logout()">Salir</button>
      </div>
      
      <ng-template #elseBlock>
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" [(ngModel)]="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" [(ngModel)]="password" name="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          
          
          
          
          
        </form>
        <button type="button" class="btn btn-dark" (click)="login()">Entrar</button>
      </ng-template>
        
    </div>
</div>


