
<div class="row my-5">
    <div class="col-xxl-4 col-xl-4 col-md-6">
        <img src="../../../../assets/images/me.jpg" class="rounded-circle" alt="...">
    </div>
    <div class="col-xxl-8 col-xl-8 col-md-6">
        <br><br><br><br>
        <div class="balloon">
            !Hola!, ¿como estas?. Bueno, me presento, mi nombre es francisco y soy aspirante a ser desarrollador web. ¿Cómo empecé?, te lo cuento a continuación.
        </div>
        <br><br><br><br>
        
    </div>
    
</div>
<app-comments></app-comments>