<div *ngIf="loading" class="text-center">
    <div class="spinner-grow text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-grow text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-grow text-success" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-grow text-danger" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-grow text-warning" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-grow text-info" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-grow text-light" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-grow text-dark" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
</div>
<div class="row">
    <div *ngFor="let o of ofertas" class="col-md-4 my-2 text-center" style="border: 1px solid black; ">
        <div class="row">
            <div class="col-md-6">
                <a [routerLink]="[('/repuesto'),o.id]" class="a_titulo_producto"> <img class="card-img-top" style="height: 220px; width: 100%;"  src="https://panchoserver.ddns.net/storage/{{o.urlfoto}}" alt="Card image cap"> </a>
            </div>
            <div class="col-md-6">
                <p style="height: 100px;"><a [routerLink]="[('/repuesto'),o.id]" class="a_titulo_producto"> {{o.descripcion}}</a></p>
                <p class="text-secondary">{{o.marcarepuesto.marcarepuesto}}</p>
                
                <p>$ <span class="card-price letra_grande">{{o.precio_venta}}</span> </p>
            </div>
        </div>
    </div>
</div>

